@font-face {
    font-family: "m";
    src: url("m.ttf");
}

@font-face {
    font-family: "MyFont2";
    src: url("Atari.ttf");
}

body {
    padding: 3rem 0rem 3rem 1rem;
    word-wrap: break-word; 
    font-family: "m";
    line-height: 1.25;
    border: 5px black;
    border-style: ridge;
    background: linear-gradient(49deg, #496E7A, #77A2B2, #4A7482, #B3DCEA, #4D7582);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 300px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 180px 36px -18px inset;
}
.everything {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
}
h1 {
    font-size: 2.5rem;
    padding-left: 1rem;
    border: 5px black;
    border-style: ridge;
    background: linear-gradient(49deg, #496E7A, #77A2B2, #4A7482, #B3DCEA, #4D7582);
    box-shadow: 0 0 5px black;
    margin-top: 0;
}
h2 {
    font-size: 1.5rem;
    padding-left: 1rem;
    border: 5px black;
    border-style: ridge;
    background: linear-gradient(49deg, #496E7A, #77A2B2, #4A7482, #B3DCEA, #4D7582);
    box-shadow: 0 0 5px black;
}
p {
    border: 5px black;
    padding-left: 1rem;
    border-style: ridge;
    background: linear-gradient(49deg, #496E7A, #77A2B2, #4A7482, #B3DCEA, #4D7582);
    box-shadow: 0 0 5px black;
}
ol {
    border: 5px black;
    border-style: ridge;
    background: linear-gradient(49deg, #496E7A, #77A2B2, #4A7482, #B3DCEA, #4D7582);
    box-shadow: 0 0 5px black;
}
input {
    line-height: 1.25;
    width: 100%;
    height: 1.8rem;
    font-size: 1.15rem;
    border: 1px solid black;
}
.ttnb_status {
    margin-top: 1rem;
}
.toast {
  box-sizing: border-box;
  visibility: hidden;
  width: 250px;
  margin-left: -125px;
  background-color: rgb(203, 0, 0);
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.plaid {
    background-attachment: fixed;
}
.words {
    flex-basis: 40%;
    margin-right: 2%;
}
.words1 {
    margin-top: 10px;
    border: 5px black;
    padding: 1rem;
    border-style: ridge;
    background: linear-gradient(49deg, #496E7A, #77A2B2, #4A7482, #B3DCEA, #4D7582);
    box-shadow: 0 0 5px black;
}
.graphs {
    width: fit-content;
}
.progress {
    display: flex;
    flex-direction: column;
    border: 5px black;
    border-style: ridge;
    background: linear-gradient(-49deg, #496E7A, #77A2B2, #4A7482, #B3DCEA, #4D7582);
    box-shadow: 0 0 5px black;
    width: fit-content;
    position: absolute;
    bottom: 5%;
    left: 82%;
    transform: translate(-50%, -50%) rotate(-90deg); 
    box-shadow: 0 0 5px black;
}

.ttnb_progressOutline {
    width: 30em;
    height: 2rem;
    border: 7px ridge black;
    border-radius: 25px; overflow: hidden;
    background: rgb(42, 0, 0);
    box-shadow: 0 0 5px black;
    animation: lavaBubblingz 3s infinite;
}


.total_progressOutline {
    width: 30em;
    height: 2rem;
    border: 7px ridge black;
    border-radius: 25px; overflow: hidden;
    background: rgb(42, 0, 0);
    box-shadow: 0 0 5px black;
    animation: lavaBubblingz 3s infinite;
}

@keyframes lavaBubblingz {
    0% {
        box-shadow: inset 0 0 19px rgba(226, 4, 4, 0.599),black 0 3px 5px;
    }
    25% {
        box-shadow: inset 0 0 14px rgb(255, 242, 0, 0.299),black 0 3px 5px;
    }
    50% {
        box-shadow: inset 0 0 11px rgb(255, 89, 0, 0.599),black 0 3px 5px;
    }
    75% {
        box-shadow: inset 0 0 14px rgb(255, 242, 0, 0.299),black 0 3px 5px;
    }
    100% {
        box-shadow: inset 0 0 19px rgb(226, 4, 4, 0.599),black 0 3px 5px;
    }
}

.ttnb_progressBar {
    height: 2rem;
    width: 100%;
    background: linear-gradient(to bottom, #ff0000, #ff3300, #ff6600, #ff9900, #ffcc00, #ffcc00, #ff9900, #ff6600, #ff3300, #ff0000);
    animation: lavaBubbling .8s infinite;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5), 0 14px 4px red;
    filter: blur(7px);
}

.total_progressBar {
    height: 2rem;
    width: 100%;
    background: linear-gradient(to bottom, #ff0000, #ff3300, #ff6600, #ff9900, #ffcc00, #ffcc00, #ff9900, #ff6600, #ff3300, #ff0000);
    animation: lavaBubbling 1s infinite;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5), 0 14px 4px red;
    filter: blur(7px);
}

@keyframes lavaBubbling {
    0% {
        box-shadow: inset 0 1px 49px rgb(226, 4, 4), 0 4px 4px red;
    }
    25% {
        box-shadow: inset 0 2px 24px rgb(255, 149, 0), 0 11px 9px rgb(255, 255, 0);
    }
    50% {
        box-shadow: inset 0 4px 11px rgb(255, 89, 0), 0 8px 14px rgb(255, 136, 0);
    }
    75% {
        box-shadow: inset 0 4px 34px rgb(255, 0, 0), 0 8px 14px rgb(255, 255, 0);
    }
    100% {
        box-shadow: inset 0 1px 49px rgb(226, 4, 4), 0 4px 4px red;
    }
}


.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  background-image: url("hall.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-content {
  margin: 3%;
  width: 90%;
  height: 90%;
}

.close {
    border: 5px black;
    border-style: ridge;
    background: linear-gradient(-49deg, #924242, #cb6767, #af2e2e, #f48f8f, #963e3e);
    font-family: "m";
    color: black;
  font-size: 28px;
  font-weight: bold;
  text-align: start;
  box-shadow: 0 0 5px black;
  cursor: crosshair;
  margin-bottom: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.mp {
    font-size: 2em;
    width: 50%;
}
.y {
    border: 5px black;
    border-style: ridge;
    background: linear-gradient(-49deg, #496E7A, #77A2B2, #4A7482, #B3DCEA, #4D7582);
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0 5px black;
}

.modalz {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  background-image: url("nuke.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.modalz-content {
  margin-top: auto;
}

.closez {
  color: rgb(31, 31, 31);
  font-size: 10em;
  font-weight: bold;
  text-align: center;
  opacity: .6;
  margin-left: 10%;
  font-weight: 500;
}

.closez:hover,
.closez:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#themez {
    background: transparent;
    border: none;
    font-family: "m";
    opacity: .6;
    color: black;
    cursor: pointer;
    font-size: 8em;
    margin-left: 50%;
    font-weight: 500;
}
.escape {
    background: transparent;
    border: none;
    font-family: "m";
    opacity: .6;
    color: black;
    cursor: pointer;
    font-size: 8em;
    margin-left: 20%;
    text-decoration: none;
    font-weight: 500;
}

#refreshButton {
    cursor: crosshair;
    border: 5px black;
    border-style: ridge;
    background: linear-gradient(-49deg, #924242, #cb6767, #af2e2e, #f48f8f, #963e3e);
    margin: 2px;
    padding-top: 2px;
    font-family: "m";
    color: black;
}

#refreshButton:active {
    color: black;
}

.progress1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px black;
    border-style: ridge;
    background: linear-gradient(-49deg, #496E7A, #77A2B2, #4A7482, #B3DCEA, #4D7582);
    box-shadow: 0 0 5px black;
    width: 30%;
    height: 100vh;
    padding: 5px;
}

.big_blocks {
    border: 7px ridge black;
    border-radius: 25px; overflow: hidden;
    border-style: ridge;
    font-family: "MyFont2";
    color: limegreen;
    font-size: xx-small;
    background: rgb(15, 22, 13);
    text-shadow: 
        0 0 12px #006400,
        0 0 5px #5E9A0A,
        0 0 7px #1F4F2A,
        0 0 5px #006B3C;
    box-shadow: 
        0 0 5px black,
        inset 0 0 12px #006400,
        inset 0 0 5px #5E9A0A,
        inset 0 0 7px #1F4F2A,
        inset 0 0 5px #006B3C;
    margin: 5px;
    padding: 10% 10% 10% 20%;
    width: 60%;
    height: 80%;
    overflow-y: scroll;
}

.big_blocks::-webkit-scrollbar {
    display: none;
}

.big_blocks a {
    color: rgb(49, 163, 49);
    font-family: "MyFont2";
}

.tier {
    border: 7px ridge black;
    border-radius: 25px; overflow: hidden;
    border-style: ridge;
    font-family: "MyFont2";
    color: limegreen;
    font-size: xx-small;
    background: rgb(15, 22, 13);
    text-shadow: 
        0 0 12px #006400,
        0 0 5px #5E9A0A,
        0 0 7px #1F4F2A,
        0 0 5px #006B3C;
    box-shadow: 
        0 0 5px black,
        inset 0 0 12px #006400,
        inset 0 0 5px #5E9A0A,
        inset 0 0 7px #1F4F2A,
        inset 0 0 5px #006B3C;
    padding: 5% 5% 5% 5%;
}

@media (max-width: 1174px) {
    .closez {
        color: rgb(31, 31, 31);
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
        opacity: .6;
        margin-left: 10%;
        font-weight: 500;
    }
    #themez {
        background: transparent;
        border: none;
        font-family: "m";
        opacity: .6;
        color: black;
        cursor: pointer;
        font-size: 2em;
        margin-left: 50%;
        font-weight: 500;
    }
    .escape {
        background: transparent;
        border: none;
        font-family: "m";
        opacity: .6;
        color: black;
        cursor: pointer;
        font-size: 2em;
        margin-left: 20%;
        text-decoration: none;
        font-weight: 500;
    }
    .progress {
        flex-direction: row;
    }
    .mp {
        width: 99%;
    }
    .close {
        font-size: small;
        margin-bottom: 10px;
    }
    .big_blocks {
        padding: 5% 0 5% 20%;
        width: 60%;
    }
    .progress1 {
        width: 20vw;
    }
    .tier {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .words {
        flex-basis: 10%;
        font-size: small;
    }
    .ex {
        font-size: x-small;
        padding: 1px;
    }
    .big_blocks {
        font-family: monospace;
    }
    .big_blocks a {
        font-family: monospace;
    }
    .tier {
        padding: 8%;
        font-family: monospace;
    }
    .words1 {
        padding-left: 5%;
    }
    .ttnb_probability {
        width: 90% !important;
    }
}

@media (max-width: 500px) {
    .everything {
        padding: 0;
    }
    h1 {
        font-size: .6rem;
        margin-top: 0;
    }
    h2 {
        font-size: .5rem;
    }
    .words {
        margin-top: -20px;
        margin-left: -10px;
        width: 29vw;
        font-size: xx-small;
    }
    .words p h1 h2 {
        padding: 1px;
    }
    .progress1 {
        margin-top: -30px;
        height: 120vh;
        width: 29vw;
    }
    .progress {
        display: flex;
        flex-direction: row;
        border: 5px black;
        border-style: ridge;
        background: linear-gradient(-49deg, #496E7A, #77A2B2, #4A7482, #B3DCEA, #4D7582);
        box-shadow: 0 0 5px black;
        width: fit-content;
        position: absolute;
        bottom: 30%;
        left: 0;
        margin-left: -25px;
        box-shadow: 0 0 5px black;
        transform: scale(.4) translate(-50%, -50%) rotate(-90deg);
    }
    .mp {
        font-size: small;
        width: 80%;
    }
}